;; development/deps.edn
{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}

        ;; Imports components via relative path
        com.nexus-quant.ark-engine/risk-guard   {:local/root "../components/risk-guard"}
        com.nexus-quant.ark-engine/connector    {:local/root "../components/connector"}
        com.nexus-quant.ark-engine/temporal-db  {:local/root "../components/temporal-db"}

        ;; Dev Tools (Don't go to prod)
        #_#_djblue/portal {:mvn/version "0.57.4"}
        lambdaisland/kaocha {:mvn/version "1.87.1366"}
        org.clojure/tools.namespace {:mvn/version "1.5.0"}}}